flow.json
[{"id":"1e0e71a1.a5469e","type":"tab","label":"Flow 1"},{"id":"7087b182.2b833","type":"tab","label":"Flow 2"},{"id":"6eefd513.02406c","type":"tab","label":"Flow 3"},{"id":"ff7fa5a6.1af688","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54a208d9.614b78","type":"ui_tab","z":"","name":"Thermostat","icon":"dashboard"},{"id":"4537edac.452854","type":"ui_group","z":"","name":"Zone","tab":"54a208d9.614b78","disp":true,"width":"6"},{"id":"340b7a1f.3185d6","type":"ui_group","z":"","name":"Default","tab":"f0692922.33cc38","disp":true,"width":"6"},{"id":"f0692922.33cc38","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"387ccb2f.230c24","type":"ui_group","z":"","name":"Eléments d'entrée","tab":"9e9ddaea.6e0ce8","order":1,"disp":true,"width":"8"},{"id":"12182ffb.4c29e","type":"ui_group","z":"","name":"Formulaire","tab":"9e9ddaea.6e0ce8","order":2,"disp":true,"width":"8"},{"id":"61bc6cb6.ffb164","type":"ui_group","z":"6eefd513.02406c","name":"Journal des événements du Dashboard","tab":"9e9ddaea.6e0ce8","order":3,"disp":true,"width":"8"},{"id":"566ed9f3.006f48","type":"ui_group","z":"","name":"Mesures","tab":"ee6159b2.b1faa8","order":1,"disp":true,"width":"6"},{"id":"8c47dcf4.6474d","type":"ui_group","z":"","name":"Graphiques","tab":"ee6159b2.b1faa8","order":2,"disp":true,"width":"6"},{"id":"9e9ddaea.6e0ce8","type":"ui_tab","z":"","name":"Ecran Principal","icon":"home","order":2},{"id":"ee6159b2.b1faa8","type":"ui_tab","z":"","name":"MySensors","icon":"dashboard","order":3},{"id":"b3b9a496.7e6b98","type":"debug","z":"1e0e71a1.a5469e","name":"","active":true,"console":"false","complete":"false","x":765,"y":266,"wires":[]},{"id":"21ca5187.1a3e4e","type":"http request","z":"1e0e71a1.a5469e","name":"","method":"GET","ret":"obj","url":"http://api:1337/zone","tls":"","x":508,"y":130,"wires":[["b3b9a496.7e6b98","40800f8b.de858"]]},{"id":"40800f8b.de858","type":"ui_template","z":"1e0e71a1.a5469e","group":"4537edac.452854","name":"","order":2,"width":0,"height":0,"format":"\n    <md-content>\n      <md-list flex>\n        \n        <md-list-item class=\"md-2-line\" ng-repeat=\"zone in msg.payload\">\n          <md-icon md-svg-icon=\"{{zone.icon}}\" ng-if=\"zone.icon\" ng-class=\"{'md-avatar-icon': zone.options.avatarIcon}\"></md-icon>\n\n          <div class=\"md-list-item-text\" ng-class=\"{'md-offset': zone.options.offset }\">\n            <h3> {{ zone.nom }} </h3>\n            <p> {{ zone.description }} </p>\n          </div>\n          <md-button class=\"md-secondary md-icon-button\" ng-click=\"edit(zone.id)\" aria-label=\"call\">\n            <md-icon md-font-icon=\"fa fa-cog\"></md-icon>\n          </md-button>\n        </md-list-item>\n      </md-list>\n    </md-content>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":708,"y":348,"wires":[[]]},{"id":"c6dcbf57.2c7c3","type":"inject","z":"1e0e71a1.a5469e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":273,"y":64,"wires":[["21ca5187.1a3e4e"]]},{"id":"c6374ab.ca4e7b8","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":475.01422119140625,"y":237.0000081062317,"wires":[[]]},{"id":"2eb7c5b1.c0f2aa","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"red","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":475.01422119140625,"y":157.0000081062317,"wires":[[]]},{"id":"1c661755.181de9","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":475.01422119140625,"y":197.0000081062317,"wires":[[]]},{"id":"1005a348.29a13d","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":485.01422119140625,"y":317.0000081062317,"wires":[[]]},{"id":"37d70536.376f4a","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":485.01422119140625,"y":277.0000081062317,"wires":[[]]},{"id":"dd9ff2af.26acb","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"on","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":475.01422119140625,"y":357.0000081062317,"wires":[[]]},{"id":"61ada585.ed451c","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"off","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":475.01422119140625,"y":397.0000081062317,"wires":[[]]},{"id":"f61cd31f.baa8","type":"ui_template","z":"7087b182.2b833","group":"340b7a1f.3185d6","name":"stuff","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":355.01422119140625,"y":157.0000081062317,"wires":[[]]},{"id":"2cf16e4b.9aa5e2","type":"ui_button","z":"1e0e71a1.a5469e","name":"","group":"4537edac.452854","order":1,"width":0,"height":0,"passthru":false,"label":"","color":"","bgcolor":"","icon":"note_add","payload":"","payloadType":"str","topic":"","x":256.78123474121094,"y":222.42044830322266,"wires":[[]]},{"id":"7dc6e7e0.ded9d8","type":"ui_button","z":"6eefd513.02406c","name":"Bouton","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"label":"Bouton","color":"#fffff","icon":"fa-star","payload":"true","payloadType":"bool","topic":"Button","x":919.0142211914062,"y":325.99999237060547,"wires":[["c1190636.444338"]]},{"id":"c0a0fda1.485fe","type":"ui_dropdown","z":"6eefd513.02406c","name":"Liste de choix","label":"Choisissez ce que vous voulez","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Choix 1 : chaine","value":"Choix1","type":"str"},{"label":"Choix 2 : numérique","value":4,"type":"num"},{"label":"Choix 3 : bool","value":true,"type":"bool"}],"payload":"","topic":"Liste de choix","x":899.0142211914062,"y":365.99999237060547,"wires":[["c1190636.444338"]]},{"id":"57b59dcc.89d934","type":"debug","z":"6eefd513.02406c","name":"Dashboard Log","active":true,"console":"false","complete":"payload","x":1459.0142211914062,"y":465.99999237060547,"wires":[]},{"id":"4f62836c.f99ddc","type":"ui_switch","z":"6eefd513.02406c","name":"Interrupteur","label":"switch","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"topic":"Interrupteur","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":909.0142211914062,"y":405.99999237060547,"wires":[["c1190636.444338"]]},{"id":"d96949ba.3841b8","type":"ui_slider","z":"6eefd513.02406c","name":"Slider","label":"slider","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":10,"step":1,"x":929.0142211914062,"y":445.99999237060547,"wires":[["c1190636.444338"]]},{"id":"e5b5b4f6.82e698","type":"ui_numeric","z":"6eefd513.02406c","name":"","label":"numeric","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"topic":"Numérique","format":"{{value}}","min":0,"max":10,"x":919.0142211914062,"y":485.99999237060547,"wires":[["c1190636.444338"]]},{"id":"aabbdb49.6df178","type":"ui_text_input","z":"6eefd513.02406c","name":"","label":"Champ saisie de Texte","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Champ saisie de Texte","x":879.0142211914062,"y":525.9999923706055,"wires":[["c1190636.444338"]]},{"id":"8ab5227b.74ab7","type":"ui_form","z":"6eefd513.02406c","name":"","label":"Un formulaire Node-RED","group":"12182ffb.4c29e","order":0,"width":0,"height":0,"options":[{"label":"Du texte","value":"Texte","type":"text","required":true},{"label":"Un nombre","value":"Nombre","type":"number","required":false},{"label":"Un email","value":"email","type":"email","required":false},{"label":"Un mot de passe","value":"Mot de passe","type":"password","required":false},{"label":"Une case à cocher","value":"Case à cocher","type":"checkbox","required":false},{"label":"Un interrupteur","value":"Interrupteur","type":"switch","required":false}],"formValue":{"Texte":"","Nombre":"","email":"","Mot de passe":"","Case à cocher":false,"Interrupteur":false},"payload":"","topic":"Formulaire","x":869.0142211914062,"y":685.9999923706055,"wires":[["c1190636.444338"]]},{"id":"c1190636.444338","type":"function","z":"6eefd513.02406c","name":"Enregistre les événements","func":"// Créé une variable pour stocker le journal du dashboard si inexistante\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1219.0142211914062,"y":505.99999237060547,"wires":[["57b59dcc.89d934","4baf70fe.44058"]]},{"id":"4baf70fe.44058","type":"ui_template","z":"6eefd513.02406c","group":"61bc6cb6.ffb164","name":"Journal des événement du Dashboard","order":1,"width":"8","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"x":1529.0142211914062,"y":545.9999923706055,"wires":[[]]},{"id":"4c7fdfc4.1ebcd","type":"ui_text_input","z":"6eefd513.02406c","name":"","label":"Champ saisie email","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"Champ saisie email","x":889.0142211914062,"y":565.9999923706055,"wires":[["c1190636.444338"]]},{"id":"200b7e1a.b45c22","type":"ui_text_input","z":"6eefd513.02406c","name":"","label":"Champ saisie mot de passe","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"Champ saisie mot de passe","x":859.0142211914062,"y":605.9999923706055,"wires":[["c1190636.444338"]]},{"id":"277eece8.92e744","type":"ui_text_input","z":"6eefd513.02406c","name":"","label":"Sélecteur de couleur","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"passthru":true,"mode":"color","delay":300,"topic":"Sélecteur de couleur","x":879.0142211914062,"y":645.9999923706055,"wires":[["c1190636.444338"]]},{"id":"891b6d7a.9a8d2","type":"ui_text","z":"6eefd513.02406c","group":"566ed9f3.006f48","order":0,"width":0,"height":0,"name":"","label":"Dernière mesure","format":"{{msg.payload}}","layout":"row-spread","x":1699.0142211914062,"y":1045.9999923706055,"wires":[]},{"id":"cfd052d9.730f6","type":"ui_toast","z":"6eefd513.02406c","position":"top right","displayTime":"5","name":"Notification","x":1689.0142211914062,"y":1005.9999923706055,"wires":[]},{"id":"6d59e93e.bac6b8","type":"ui_ui_control","z":"6eefd513.02406c","name":"ui control","x":1459.0142211914062,"y":725.9999923706055,"wires":[[]]},{"id":"f53b22b0.39f89","type":"ui_button","z":"6eefd513.02406c","name":"","group":"387ccb2f.230c24","order":0,"width":0,"height":0,"label":"Aller aux capteurs MySensors","color":"","icon":"","payload":"","payloadType":"str","topic":"Vers Tab capteurs MySensors","x":869.0142211914062,"y":725.9999923706055,"wires":[["c1190636.444338","538e9674.c59148"]]},{"id":"538e9674.c59148","type":"function","z":"6eefd513.02406c","name":"Aller à MySensors","func":"var msg = {};\nmsg.payload = {tab:\"MySensors\"};    // ou/or 1\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1189.0142211914062,"y":725.9999923706055,"wires":[["6d59e93e.bac6b8"]]},{"id":"6478c5fa.f356cc","type":"tcp in","z":"6eefd513.02406c","name":"MySensors Gateway","server":"client","host":"192.168.1.20","port":"5003","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":749.0142211914062,"y":865.9999923706055,"wires":[["84632c95.632bd"]]},{"id":"84632c95.632bd","type":"function","z":"6eefd513.02406c","name":"Decode MySensor Message","func":"/* MySensors v2 Message Decoder\n*  Payload : JSON object\n*  www.projetsdiy.fr - oct. 2016\n*/\nvar mySensorsMessage = {}\nvar newPayload = {};\nvar timestamp = new Date();\nvar message = msg.payload.toString();\nmessage = message.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nvar tokens = message.split(\";\")\nif(tokens.length == 6)\n{\n    mySensorsMessage.nodeId =       parseInt(tokens[0]);\n    mySensorsMessage.childSensorId= parseInt(tokens[1]);\n    mySensorsMessage.messageType =  parseInt(tokens[2]);\n    mySensorsMessage.ack =          parseInt(tokens[3]);\n    mySensorsMessage.subType =      parseInt(tokens[4]);\n    mySensorsMessage.value =        Number(tokens[5]);\n\n    var messageType = mySensorsMessage.messageType;\n    var subType = mySensorsMessage.subType;\n    var labelPresentation = [\"S_DOOR\",\"S_MOTION\",\"S_SMOKE\",\"S_LIGHT\",\"S_BINARY\",\"S_DIMMER\",\"S_COVER\",\"S_TEMP\",\"S_HUM\",\"S_BARO\",\"S_WIND\",\"S_RAIN\",\"S_UV\",\"S_WEIGHT\",\"S_POWER\",\"S_HEATER\",\"S_DISTANCE\",\"S_LIGHT_LEVEL\",\"S_ARDUINO_NODE\",\"S_ARDUINO_REPEATER_NODE\",\"S_LOCK\",\"S_IR\",\"S_WATER\",\"S_AIR_QUALITY\",\"S_CUSTOM\",\"S_DUST\",\"S_SCENE_CONTROLLER\",\"S_RGB_LIGHT\",\"S_RGBW_LIGHT\",\"S_COLOR_SENSOR\",\"S_HVAC\",\"S_MULTIMETER\",\"S_SPRINKLER\",\"S_WATER_LEAK\",\"S_SOUND\",\"S_VIBRATION\",\"S_MOISTURE\",\"S_INFO\",\"S_GAS\",\"S_GPS\",\"S_WATER_QUALITY\"];\n    var labelSet = [\"V_TEMP\",\"V_HUM\",\"V_STATUS\",\"V_LIGHT\",\"V_PERCENTAGE\",\"V_DIMMER\",\"V_PRESSURE\",\"V_FORECAST\",\"V_RAIN\",\"V_RAINRATE\",\"V_WIND\",\"V_GUST\",\"V_DIRECTION\",\"V_UV\",\"V_WEIGHT\",\"V_DISTANCE\",\"V_IMPEDANCE\",\"V_ARMED\",\"V_TRIPPED\",\"V_WATT\",\"V_KWH\",\"V_SCENE_ON\",\"V_SCENE_OFF\",\"V_HVAC_FLOW_STATE\",\"V_HVAC_SPEED\",\"V_LIGHT_LEVEL\",\"V_VAR1\",\"V_VAR2\",\"V_VAR3\",\"V_VAR4\",\"V_VAR5\",\"V_UP\",\"V_DOWN\",\"V_STOP\",\"V_IR_SEND\",\"V_IR_RECEIVE\",\"V_FLOW\",\"V_VOLUME\",\"V_LOCK_STATUS\",\"V_LEVEL\",\"V_VOLTAGE\",\"V_CURRENT\",\"V_RGB\",\"V_RGBW\",\"V_ID\",\"V_UNIT_PREFIX\",\"V_HVAC_SETPOINT_COOL\",\"V_HVAC_SETPOINT_HEAT\",\"V_HVAC_FLOW_MODE\",\"V_TEXT\",\"V_CUSTOM\",\"V_POSITION\",\"V_IR_RECORD\",\"V_PH\",\"V_ORP\",\"V_EC\",\"V_VAR\",\"V_VA\",\"V_POWER_FACTOR\"]\n    var labelInternal = [\"I_BATTERY_LEVEL\",\"I_TIME\",\"I_VERSION\",\"I_ID_REQUEST\",\"I_ID_RESPONSE\",\"I_INCLUSION_MODE\",\"I_CONFIG\",\"I_FIND_PARENT\",\"I_FIND_PARENT_RESPONSE\",\"I_LOG_MESSAGE\",\"I_CHILDREN\",\"I_SKETCH_NAME\",\"I_SKETCH_VERSION\",\"I_REBOOT\",\"I_GATEWAY_READY\",\"I_REQUEST_SIGNING\",\"I_GET_NONCE\",\"I_GET_NONCE_RESPONSE\",\"I_HEARTBEAT\",\"I_PRESENTATION\",\"I_DISCOVER\",\"I_DISCOVER_RESPONSE\",\"I_HEARTBEAT_RESPONSE\",\"I_LOCKED\",\"I_PING\",\"I_PONG\",\"I_REGISTRATION_REQUEST\",\"I_REGISTRATION_RESPONSE\",\"I_DEBUG\"]\n    \n    switch (messageType) {\n        case 0:     // Presentation\n            newPayload.timestamp = timestamp;\n            newPayload.mode =       \"Presentation\";\n            newPayload.type =       labelPresentation[subType];\n            break;\n        case 1:     // Set\n            newPayload.timestamp = timestamp;\n            newPayload.nodeId=      mySensorsMessage.nodeId;\n            newPayload.sensorId=    mySensorsMessage.childSensorId;\n            newPayload.mode=        \"Set\";\n            newPayload.type=        subType;\n            newPayload.typeLabel=   labelSet[subType];\n            newPayload.value=       mySensorsMessage.value;\n            break;\n        case 2:     // Req\n            newPayload.timestamp = timestamp;\n            newPayload.nodeId=      mySensorsMessage.nodeId;\n            newPayload.sensorId=    mySensorsMessage.childSensorId;\n            newPayload.mode=        \"Req\";\n            newPayload.type=        subType;\n            newPayload.typeLabel=   labelSet[subType];\n            newPayload.value=       mySensorsMessage.value;\n            break;  \n        case 3:     // Internal\n            newPayload.timestamp = timestamp;\n            newPayload.nodeId=      mySensorsMessage.nodeId;\n            newPayload.sensorId=    mySensorsMessage.childSensorId;\n            newPayload.mode=        \"Internal\";\n            newPayload.type=        subType;\n            newPayload.typeLabel=   labelInternal[subType];\n            newPayload.value=       mySensorsMessage.value;\n            break;    \n        case 4:     // Stream - OTA firmware update\n            newPayload.timestamp = timestamp;\n            newPayload.nodeId=      mySensorsMessage.nodeId;\n            newPayload.mode=        \"stream\";\n            break;\n        default:\n            break;\n    }\n\n    msg.payload = newPayload; \n} else {\n    msg.payload = \"Error! Nothing to decode\"\n}  \n\nreturn msg;","outputs":1,"noerr":0,"x":919.0142211914062,"y":785.9999923706055,"wires":[["6d695962.1d2a28","55f886ed.617ed8"]]},{"id":"6d695962.1d2a28","type":"function","z":"6eefd513.02406c","name":"Filtre : température noeud 3","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 0) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Temperature\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":1199.0142211914062,"y":845.9999923706055,"wires":[["3b5c7ba3.a363d4","32f49520.74da4a","b746be81.eb9da"]]},{"id":"3b5c7ba3.a363d4","type":"ui_gauge","z":"6eefd513.02406c","name":"Gauge : Température","group":"566ed9f3.006f48","order":0,"width":0,"height":0,"gtype":"gage","title":"Température DHT22","label":"MySensors v2","format":"{{value}}°C","min":0,"max":"50","colors":["#66ccff","#ff8000","#ca3838"],"x":1499.0142211914062,"y":825.9999923706055,"wires":[]},{"id":"55f886ed.617ed8","type":"function","z":"6eefd513.02406c","name":"Filtre : humidité noeud 3","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 1) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Humidity\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":1189.0142211914062,"y":885.9999923706055,"wires":[["b724c93f.6662f8","32f49520.74da4a","b746be81.eb9da"]]},{"id":"b724c93f.6662f8","type":"ui_gauge","z":"6eefd513.02406c","name":"Gauge : Humidité","group":"566ed9f3.006f48","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidité DHT22","label":"MySensors v2","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"x":1489.0142211914062,"y":865.9999923706055,"wires":[]},{"id":"32f49520.74da4a","type":"function","z":"6eefd513.02406c","name":"Attendre temperature & humidité","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.humidity !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Température : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Humidité : \"; \n    msgOut+= context.data.humidity.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;","outputs":1,"noerr":0,"x":1539.0142211914062,"y":945.9999923706055,"wires":[["cfd052d9.730f6","891b6d7a.9a8d2"]]},{"id":"b746be81.eb9da","type":"ui_chart","z":"6eefd513.02406c","name":"Graph : Température & Humidité","group":"8c47dcf4.6474d","order":0,"width":"6","height":"9","label":"Température & Humidité","chartType":"line","legend":"true","xformat":"%H:%M","interpolate":"linear","nodata":"Rien à afficher","ymin":"0","ymax":"80","removeOlder":"12","removeOlderUnit":"3600","x":1529.0142211914062,"y":905.9999923706055,"wires":[[],[]]}]